<div id="Welcome">
    <!---Start navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
        <a class="navbar-brand" href="#Welcome">
            <img src="assets/images/logo.png" width="50" height="50" class="d-inline-block" alt=""> Restaurant
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#Welcome">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Restaurant">Restaurant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Reservation">Reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#OurLocation">Our Location</a>
                </li>

            </ul>
        </div>
    </nav>
    <!--- End Navigation Bar -->
    <!--- Start Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid img-slider" src="assets/images/slider1.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h2>Welcome!</h2>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid img-slider" src="assets/images/slider2.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h2>Traditional Italian Cuisine</h2>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid img-slider" src="assets/images/slider3.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h2>Selected Products</h2>
                    <p>...</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--- End of Carousel -->
<!--- Restaurant-->
<div class="container">
    <div class="row" id="Restaurant">
        <div class="col navMenu">
            <h2 class="text-center">~ Restaurant ~</h2>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-md-6">
            <h3>Location</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tempore eligendi porro! Cum, adipisci non
                dolores, a libero labore distinctio, sed fugit velit architecto voluptates dolorum. Dolorum iure quasi
                aperiam at vel, harum laboriosam? Et temporibus, voluptatibus ipsam officia fuga, optio necessitatibus
                illo maiores est rem, consectetur natus repellat commodi!</p>
            <h5>A Unique Experience</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit deleniti et aspernatur nesciunt saepe,
                dicta recusandae fugiat quam iure repellat cumque eveniet ipsum, ut dignissimos molestiae nam. Cumque
                nostrum fugiat impedit labore fugit! Minus id iusto molestias natus assumenda architecto asperiores
                totam deserunt ex, praesentium cumque repudiandae nihil nam iure.</p>
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <img class="img-fluid" src="assets/images/location.jpg">
        </div>
    </div>
    <div class="row bg-light"><br></div>
    <div class="row bg-light">
        <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
            <img class="img-fluid " src="assets/images/cuisine.jpg">
        </div>
        <div class="col-md-6 order-md-12 order-1">
            <h3>Cuisine</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure repellendus laborum fuga unde ea nulla
                qui, expedita esse natus exercitationem hic ullam eos maiores? Inventore necessitatibus recusandae in
                quod eaque beatae culpa consectetur, eos voluptate soluta libero possimus rem sed. Beatae excepturi ea
                officiis cum reiciendis delectus neque minima fugit?</p>
            <h5>A Unique Experience</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptates beatae similique iste tempora
                odio laudantium sunt aperiam, saepe provident ipsam id in quae optio atque consequatur neque. Rerum
                nobis sapiente dignissimos sint eius libero molestias aspernatur, temporibus, cumque minima eum
                quibusdam, totam soluta expedita. Fugit minima alias et recusandae?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptates beatae similique iste tempora
                    odio laudantium sunt aperiam, saepe provident ipsam id in quae optio atque consequatur neque. Rerum
                    nobis sapiente dignissimos sint eius libero molestias aspernatur, temporibus, cumque minima eum
                    quibusdam, totam soluta expedita. Fugit minima alias et recusandae?</p>
        </div>
    </div>
    <!--- End of Restaurant -->